html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }

}

@media only screen and (max-width: 1300px) {
  .recipez {
    flex-basis: 18% !important;
  }

}

@media only screen and (max-width: 1100px) {
  .recipez {
    flex-basis: 22% !important;
  }

  .categoriez {
    flex-basis: 10% !important;

  }
}

@media only screen and (max-width: 900px) {
  .recipez {
    flex-basis: 30% !important;
  }

  .categoriez {
    flex-basis: 22% !important;
  }
}

@media only screen and (max-width: 600px) {
  .recipez {
    flex-basis: 45% !important;
  }
}

@media only screen and (max-width: 400px) {
  .recipez {
    flex-basis: 100% !important;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #495057cc;
}

.btn {
  opacity: 0.85;
}

.input-group-text {
  background-color: gray !important;
  color: white;
}

.card-glass {
  background-color: #495057;
}

.reciperow {
  /* padding-left: 8vw;
  padding-right: 8vw; */
}

.categoryrow {
  padding-left: 5vw;
  padding-right: 5vw;
}

input {
  background-color: rgb(28, 30, 31) !important;
}

.recipez {
  flex-basis: 15%;
}

.rb {
  /* border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%; */
}

#login input,
.card-content input {
  background-color: #f7f7f9 !important;
}

.super-card {
  background-color: #495057;
}

/*for tab control*/
div.login-logout-tab div.card-header {
  padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
  margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
  width: 50%;
}

div.login-logout-tab a.nav-link {
  font-size: 25px;
  color: #495057;
  text-align: center;
}

div.card-content {
  padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
  text-align: center;
}

.btico {
  display: none;
}

.ind {
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.ox {
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  z-index: 999;
  background-color: #495057;
  /* border-top-left-radius: 30%;
  border-top-right-radius: 30%; */
}

ul {
  list-style: square;
}

li::marker {
  color: white;

}

.table th,
.table td {
  padding: 0 !important;
}