@model User
@{
    ViewData["Title"] = "Edit user";
}

<div class="row align-content-center justify-content-center">
    <div class="col-md-6">
        <form asp-action="EditUser" asp-controller="Users" asp-route-id="@Model.Id" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="bi bi-person-fill text-primary fs-3"></i>
                <label asp-for="UserName" class="control-label text-primary mb-2 fs-3"></label>
                <input asp-for="UserName" class="form-control text-light" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <i class="bi bi-at text-primary fs-3"></i>
                <label asp-for="Email" class="control-label text-primary mb-2  fs-3"></label>
                <input asp-for="Email" class="form-control text-light" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="w-100">
                    <input type="submit" value="Edit" class=" w-100 mt-5 btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>