html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #495057cc;
}

.card-glass {
  background-color: #495057;
}

.super-card {
  border-radius: 46px;
  background: linear-gradient(45deg, #42484e, #4e565d);
  box-shadow: 10px -10px 19px #353a40,
    -10px 10px 19px #5d666e;
}

/*for tab control*/
div.login-logout-tab div.card-header {
  padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
  margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
  width: 50%;
}

div.login-logout-tab a.nav-link {
  font-size: 25px;
  color: #495057;
  text-align: center;
}

div.card-content {
  padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
  text-align: center;
}

.btico {
  display: none;
}