html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }

}

@media only screen and (max-width: 1100px) {
  .recipez {
    flex-basis: 22% !important;
  }

  .categoriez {
    flex-basis: 10% !important;

  }
}

@media only screen and (max-width: 900px) {
  .recipez {
    flex-basis: 33% !important;
  }

  .categoriez {
    flex-basis: 22% !important;
  }
}

@media only screen and (max-width: 600px) {
  .recipez {
    flex-basis: 45% !important;
  }
}

@media only screen and (max-width: 400px) {
  .recipez {
    flex-basis: 100% !important;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #495057cc;
}

.card-glass {
  background-color: #495057;
}

.reciperow {
  padding-left: 8vw;
  padding-right: 8vw;
}

.categoryrow {
  padding-left: 5vw;
  padding-right: 5vw;
}

.recipez {
  flex-basis: 15%;
}

.rb {
  /* border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%; */
}


.super-card {
  background-color: #495057;
}

/*for tab control*/
div.login-logout-tab div.card-header {
  padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
  margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
  width: 50%;
}

div.login-logout-tab a.nav-link {
  font-size: 25px;
  color: #495057;
  text-align: center;
}

div.card-content {
  padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
  text-align: center;
}

.btico {
  display: none;
}

.ind {
  border-top-left-radius: 8%;
  border-top-right-radius: 8%;
}

.ox {
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  z-index: 999;
  background-color: #495057;
  /* border-top-left-radius: 30%;
  border-top-right-radius: 30%; */
}

ul {
  list-style: square;
}

li::marker {
  color: white;

}